<div class="container">
  <app-cockpit (serverCreatedEvent)="onServerAdded($event)" (blueprintCreatedEvent)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- actual property name use "element"
        <app-server-element *ngFor="let serverElement of serverElements" [element]="serverElement"></app-server-element> -->

        <app-server-element *ngFor="let serverElement of serverElements" [elementInfo]="serverElement">
          <p>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
        </app-server-element>
    </div>
  </div>
</div>
